In [219]:
import pandas as pd

In [221]:
df = pd.read_csv("Assessor_Parcel_Sales.csv")

In [222]:
print("Dataset preview:")
print(df.head())

Dataset preview:
            pin  year  township_code  neighborhood_code class  \
0  3.101210e+13  2000             32              32050   278
1  1.429100e+13  2000             73              73150   299
2  1.316410e+13  2000             71              71101   203
3  2.423300e+13  2014             39              39250   100
4  1.935400e+13  2016             72              72200   205

          sale_date  is_mydec_date  sale_price  sale_document_num  \
0     April 01 2000          False      177500             317676
1  February 01 2000          False      315000             326770
2      June 01 2000          False      192000             519440
3      June 01 2014          False         500         1427529079
4    August 01 2016          False           1         1625129009

  sale_deed_type mydec_deed_type sale_seller_name  is_multisale  \
0        Trustee             NaN              NaN         False
1       Warranty             NaN              NaN         False
2       Warranty             NaN              NaN         False
3          Other             NaN          US BANK         False
4       Warranty             NaN              NaN          True

   num_parcels_sale     sale_buyer_name          sale_type  \
0                 1                 NaN  LAND AND BUILDING
1                 1                 NaN  LAND AND BUILDING
2                 1                 NaN  LAND AND BUILDING
3                 1  MY OWN DOMINION LP               LAND
4                 5                 NaN  LAND AND BUILDING

   sale_filter_same_sale_within_365  sale_filter_less_than_10k  \
0                             False                      False
1                             False                      False
2                             False                      False
3                             False                       True
4                              True                       True

   sale_filter_deed_type    row_id
0                  False  96289215
1                  False  97142869
2                  False  96585660
3                  False  96639542
4                  False  98154864

In [223]:
print(f"\nDataset has {df.shape[0]} rows and {df.shape[1]} columns.")

Dataset has 1048575 rows and 20 columns.

In [224]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
pin                                       0
year                                      0
township_code                             0
neighborhood_code                         0
class                                     0
sale_date                                 0
is_mydec_date                             0
sale_price                                0
sale_document_num                         0
sale_deed_type                           47
mydec_deed_type                     1048369
sale_seller_name                     101492
is_multisale                              0
num_parcels_sale                          0
sale_buyer_name                      101176
sale_type                              2776
sale_filter_same_sale_within_365          0
sale_filter_less_than_10k                 0
sale_filter_deed_type                     0
row_id                                    0
dtype: int64

In [225]:
print("\nPercentage of missing values per column:")
print((df.isnull().mean() * 100).round(2))

Percentage of missing values per column:
pin                                  0.00
year                                 0.00
township_code                        0.00
neighborhood_code                    0.00
class                                0.00
sale_date                            0.00
is_mydec_date                        0.00
sale_price                           0.00
sale_document_num                    0.00
sale_deed_type                       0.00
mydec_deed_type                     99.98
sale_seller_name                     9.68
is_multisale                         0.00
num_parcels_sale                     0.00
sale_buyer_name                      9.65
sale_type                            0.26
sale_filter_same_sale_within_365     0.00
sale_filter_less_than_10k            0.00
sale_filter_deed_type                0.00
row_id                               0.00
dtype: float64

In [226]:
print("Columns in dataset:", df.columns.tolist())

Columns in dataset: ['pin', 'year', 'township_code', 'neighborhood_code', 'class', 'sale_date', 'is_mydec_date', 'sale_price', 'sale_document_num', 'sale_deed_type', 'mydec_deed_type', 'sale_seller_name', 'is_multisale', 'num_parcels_sale', 'sale_buyer_name', 'sale_type', 'sale_filter_same_sale_within_365', 'sale_filter_less_than_10k', 'sale_filter_deed_type', 'row_id']

In [227]:
top5_townships = (
    df.groupby("township_code")["sale_price"]
      .median()
      .sort_values(ascending=False)
      .head(5)
)

In [228]:
print(top5_townships)

township_code
23    675000.0
10    532000.0
25    435000.0
33    375500.0
74    360000.0
Name: sale_price, dtype: float64

In [229]:
lowest5_townships = (
    df.groupby("township_code")["sale_price"]
      .median()
      .sort_values(ascending=True)
      .head(5)
)

In [230]:
print(lowest5_townships)

township_code
37    107500.0
14    115000.0
12    120000.0
13    140000.0
70    140000.0
Name: sale_price, dtype: float64

In [231]:
top10_sales = df.nlargest(10, 'sale_price')

In [232]:
top10_years = top10_sales['year']

In [233]:
print(top10_years.tolist())

[2007, 2007, 2004, 2007, 2007, 2002, 2006, 2006, 2006, 2006]

In [237]:
min_year = df['year'].min()

In [238]:
max_year = df['year'].max()

In [240]:
print(f" {min_year} to {max_year}.")

 1971 to 2024.

In [247]:
township_mapping = {
    1: "Barrington", 2: "Berkeley", 3: "Berwyn", 4: "Bloom", 5: "Bremen",
    6: "Calumet", 7: "Cicero", 8: "Elk Grove", 9: "Evanston", 10: "Hanover",
    11: "Lemont", 12: "Leyden", 13: "Lyons", 14: "Maine", 15: "Norwood Park",
    16: "Northfield", 17: "Niles", 18: "New Trier", 19: "Palatine", 20: "Proviso",
    21: "Re-go (or Ridge)", 22: "River Forest", 23: "Riverside", 24: "Schaumburg",
    25: "Stickney", 26: "Thornton", 27: "Wheeling", 28: "Worth", 29: "Bloomingdale",
    30: "Addison", 31: "Elk Grove", 32: "Leyden", 33: "Maine", 34: "Palatine",
    35: "Hanover", 36: "New Trier", 37: "Northfield", 38: "Niles", 39: "Proviso",
    40: "River Forest"
}

In [252]:
df['Township_Name'] = df['township_code'].map(township_mapping)

In [255]:
top5_median = df.groupby('Township_Name')['sale_price'].median().sort_values(ascending=False).head(5)
print("Top 5 townships by median sale price:")
print(top5_median)

Top 5 townships by median sale price:
Township_Name
Riverside     675000.0
Stickney      435000.0
Schaumburg    315000.0
Thornton      310500.0
Palatine      297692.0
Name: sale_price, dtype: float64

In [257]:
unique_codes = df['township_code'].nunique()

In [259]:
print(f"{unique_codes}")

38

In [261]:
# Redone using only 2024 data

In [265]:
df_2024 = df[df['year'] == 2024]

In [267]:
print(f"Number of records in 2024: {df_2024.shape[0]}")
print(df_2024.head())

Number of records in 2024: 193
               pin  year  township_code  neighborhood_code class  \
2378  1.709410e+13  2024             74              74030   299
5542  1.704200e+13  2024             74              74011   315
6005  1.515420e+13  2024             31              31034   517
6279  1.321300e+13  2024             71              71171   590
6987  3.126300e+13  2024             32              32045    EX

              sale_date  is_mydec_date  sale_price  sale_document_num  \
2378    January 18 2024           True      530000         2402413376
5542    October 10 2024           True     8300000         2430324045
6005  September 18 2024           True      300000         2427128233
6279      March 26 2024           True     2400000         2409409015
6987   November 12 2024           True      151888         2433824102

     sale_deed_type  ... sale_seller_name is_multisale  num_parcels_sale  \
2378       Warranty  ...              NaN         True                 3
5542       Warranty  ...              NaN         True                 3
6005          Other  ...              NaN         True                 2
6279       Warranty  ...              NaN         True                 6
6987          Other  ...              NaN         True                 8

      sale_buyer_name sale_type sale_filter_same_sale_within_365  \
2378              NaN       NaN                            False
5542              NaN       NaN                            False
6005              NaN       NaN                            False
6279              NaN       NaN                            False
6987              NaN       NaN                            False

      sale_filter_less_than_10k  sale_filter_deed_type   row_id  Township_Name
2378                      False                  False  7575764            NaN
5542                      False                  False  7667115            NaN
6005                      False                  False  7661736      Elk Grove
6279                      False                  False  7600852            NaN
6987                      False                  False  7688138         Leyden

[5 rows x 21 columns]

In [282]:
top5_2024 = df_2024.groupby('township_code')['sale_price'].median().sort_values(ascending=False).head(5)

In [284]:
print(top5_2024)

township_code
75    3022500.0
23    2725000.0
19    1495000.0
20    1190500.0
10    1175000.0
Name: sale_price, dtype: float64

In [288]:
bottom5_2024 = df_2024.groupby('township_code')['sale_price'].median().sort_values(ascending=True).head(5)

In [290]:
print(bottom5_2024)

township_code
12      5000.0
39    170450.0
13    187000.0
32    200000.0
16    202500.5
Name: sale_price, dtype: float64

In [298]:
df_2024 = df[df['year'] == 2024]
unique_codes_2024 = df_2024['township_code'].nunique()

In [300]:
print(f"{unique_codes_2024}")

31

In [303]:
top10_sales_2024 = df_2024.nlargest(10, 'sale_price')[['township_code', 'sale_price', 'year']]

In [306]:
print(top10_sales_2024)

        township_code  sale_price  year
225902             74    85200000  2024
225871             74    30400000  2024
47751              74    20960500  2024
75548              77    10500000  2024
189332             70     8500000  2024
5542               74     8300000  2024
82159              77     7140000  2024
14108              70     6500000  2024
225879             70     6500000  2024
225893             70     6500000  2024